
cache {
	#  The key used to index the cache.  It is dynamically expanded
	#  at run time.
	key = "%{User-Name}"

	ttl = 10

	add_stats = no

	#  The list of attributes to cache for a particular key.
	update {
		# <list>:<attribute> <op> <value>

    {% if freeradius3_cache_attributes is defined %}
    {{ freeradius3_cache_attributes }}
    {% endif %}

		# Cache all instances of Reply-Message in the reply list
		&reply:Reply-Message += &reply:Reply-Message[*]

		# Add our own to show when the cache was last updated
		&reply:Reply-Message += "Cache last updated at %t"

		#&reply:Class := "%{randstr:ssssssssssssssssssssssssssssssss}"
	}
}
